In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
# import jsonlines

In [2]:
full_df = pd.read_json('influencer_data.jsonl', lines=True)
subset_df=full_df.head(2993)
subset_df

,Name,Age,Sex,Country of Origin,State or Province,Education Level,MBTI Personality,Lifestyle,Backstory
0,Andre Mcclain,23,male,USA,South Carolina,High School,INFP,architecture,Andre Mcclain grew up in a small town in South...
1,Gregory Joseph,19,male,USA,Iowa,High School,ISFP,diy,Gregory Joseph was born and raised in a small ...
2,William Wall,23,male,USA,Oregon,High School,ISFP,pets,William Wall was born and raised in the lush g...
3,Virginia Chapman,24,female,USA,Pennsylvania,Bachelor,ISFJ,cooking,Virginia Chapman was born and raised in a smal...
4,Deborah Potter,33,female,Canada,Quebec,Bachelor,ESTP,dancing,"Deborah Potter was born and raised in Quebec, ..."
...,...,...,...,...,...,...,...,...,...
2988,Jared Carter,26,male,USA,Florida,No High School,INFP,fitness,Jared Carter was born and raised in the sunny ...
2989,Sarah Farley,30,female,USA,Arizona,Bachelor,ESFJ,fashion,Sarah Farley was born and raised in the bustli...
2990,Sarah Lee,26,female,USA,Ohio,Bachelor,INTP,art,Sarah Lee was born and raised in a small town ...
2991,Charles Combs,28,male,USA,Louisiana,High School,INTJ,science,Charles Combs was born and raised in a small t...
2992,Kelli Hinton,22,female,USA,Arizona,High School,INTP,fishing,Kelli Hinton was born and raised in the desert...

In [3]:
subset_df.dtypes

Name                 object
Age                   int64
Sex                  object
Country of Origin    object
State or Province    object
Education Level      object
MBTI Personality     object
Lifestyle            object
Backstory            object
dtype: object

In [4]:
subset_df["Lifestyle"].value_counts()

Lifestyle
lifestyle       123
diy             119
psychology      119
beauty          116
astrology       115
fashion         111
art             109
parenting       109
pets            109
gardening       104
dancing         103
vlogging        103
food            102
education       101
cooking          94
health           91
fitness          86
travel           84
tech             75
comedy           73
music            70
fishing          70
business         70
law              70
architecture     65
history          63
philosophy       61
outdoors         59
engineering      59
politics         58
photography      55
automotive       53
sports           51
science          51
economics        47
gaming           45
Name: count, dtype: int64

In [7]:
subset_df["Education Level"].value_counts()

Education Level
High School       1388
Bachelor           836
No High School     502
Master             233
PhD                 34
Name: count, dtype: int64

In [8]:
subset_df["MBTI Personality"].value_counts()

MBTI Personality
ISFP    376
ESFP    318
ENFP    295
ISTP    247
INTP    239
INFP    227
ESFJ    173
ENTJ    157
ENTP    156
ENFJ    156
INFJ    146
ESTP    145
INTJ    142
ESTJ    107
ISFJ     66
ISTJ     43
Name: count, dtype: int64

In [6]:
# # saving subset as json
subset_df.to_json('subset_AI.json', orient='records', lines=False)