In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
#importing September Youtube raw data
Sept_df = pd.read_csv('../Resources/SEP_YOUTUBE_INFLUENCER_RAW.csv')
Sept_df

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views,Avg. likes,Avg Comments,Category_3,Unnamed: 10
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN,9/1/2022
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN,9/28/2022
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN,9/5/2022
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor,9/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys,9/27/2022
...,...,...,...,...,...,...,...,...,...,...,...
1042,996,Raditya Dika,Raditya Dika,Indonesia,9.9M,Food & Drinks,430.5K,14.8K,741,NaN,9/5/2022
1043,997,Ini Talk Show,IniTalkShow,Indonesia,9.9M,Music & Dance,25.2K,290,17,Humor,9/15/2022
1044,998,SpriteDer SPD,SpriteDer SPD,Thailand,9.9M,Humor,4.4M,154.4K,3.6K,NaN,9/29/2022
1045,999,Classic Mr Bean,Classic Mr Bean,India,9.9M,NaN,132.6K,1.1K,53,NaN,9/4/2022
1046,1000,Heera Gold,Heera Gold,Pakistan,9.9M,Daily vlogs,39.4K,1.6K,161,NaN,9/10/2022

In [4]:
#looking for duplicates
duplicate_values = Sept_df['Name'].duplicated()
print(duplicate_values)

0       False
1       False
2       False
3       False
4       False
        ...
1042     True
1043     True
1044     True
1045     True
1046     True
Name: Name, Length: 1047, dtype: bool

In [5]:
#removing duplicates
df = Sept_df.drop_duplicates(subset=['Name'], keep='first')
df

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views,Avg. likes,Avg Comments,Category_3,Unnamed: 10
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN,9/1/2022
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN,9/28/2022
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN,9/5/2022
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor,9/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys,9/27/2022
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Raditya Dika,Raditya Dika,Indonesia,9.9M,Food & Drinks,430.5K,14.8K,741,NaN,9/13/2022
996,997,Ini Talk Show,IniTalkShow,Indonesia,9.9M,Music & Dance,25.2K,290,17,Humor,9/9/2022
997,998,SpriteDer SPD,SpriteDer SPD,Thailand,9.9M,Humor,4.4M,154.4K,3.6K,NaN,9/16/2022
998,999,Classic Mr Bean,Classic Mr Bean,India,9.9M,NaN,132.6K,1.1K,53,NaN,9/30/2022
999,1000,Heera Gold,Heera Gold,Pakistan,9.9M,Daily vlogs,39.4K,1.6K,161,NaN,9/16/2022

In [6]:
#updating column names
renamed_Sept_df = df.rename(columns={"Name":"Youtube_channel", "Youtuber":"Youtuber_name",
                                     "Avg. views":"Average_view","Avg. likes":"Average_likes",
                                     "Avg Comments":"Average_comments","Category_2":"Category",
                                    "Category_3":"Sub-category", "Unnamed: 10":"Date"})
renamed_Sept_df.head()

,S.no,Youtube_channel,Youtuber_name,Country,Subscribers,Category,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN,9/1/2022
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN,9/28/2022
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN,9/5/2022
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor,9/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys,9/27/2022

In [7]:
#rearanging the columns to match the file in the Clean_Data
renamed_Sept_df=renamed_Sept_df[["S.no","Youtube_channel","Youtuber_name","Category",'Subscribers',
                                 "Country","Average_view","Average_likes","Average_comments",
                                 "Sub-category","Date"]]
renamed_Sept_df

,S.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,T-Series,tseries,Music & Dance,224.4M,India,141.5K,4.6K,125,NaN,9/1/2022
1,2,Cocomelon - Nursery Rhymes,checkgate,Education,142.5M,NaN,12.5M,64.8K,0,NaN,9/28/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.9M,130.5K,7.4K,NaN,9/5/2022
3,4,MrBeast,MrBeast6000,Video games,104.1M,United States,44.8M,2.2M,70.9K,Humor,9/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,100.5M,NaN,6.9M,34.8K,0,Toys,9/27/2022
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Raditya Dika,Raditya Dika,Food & Drinks,9.9M,Indonesia,430.5K,14.8K,741,NaN,9/13/2022
996,997,Ini Talk Show,IniTalkShow,Music & Dance,9.9M,Indonesia,25.2K,290,17,Humor,9/9/2022
997,998,SpriteDer SPD,SpriteDer SPD,Humor,9.9M,Thailand,4.4M,154.4K,3.6K,NaN,9/16/2022
998,999,Classic Mr Bean,Classic Mr Bean,NaN,9.9M,India,132.6K,1.1K,53,NaN,9/30/2022
999,1000,Heera Gold,Heera Gold,Daily vlogs,9.9M,Pakistan,39.4K,1.6K,161,NaN,9/16/2022

In [8]:
#replacing empty cells with "other" for category and "unknown" for country  
cleaned_Sept_df= renamed_Sept_df.fillna({"Country": 'Unknown',
                                       "Category": 'Other',
                                      "Sub-category":'Other'})
cleaned_Sept_df

,S.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,T-Series,tseries,Music & Dance,224.4M,India,141.5K,4.6K,125,Other,9/1/2022
1,2,Cocomelon - Nursery Rhymes,checkgate,Education,142.5M,Unknown,12.5M,64.8K,0,Other,9/28/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.9M,130.5K,7.4K,Other,9/5/2022
3,4,MrBeast,MrBeast6000,Video games,104.1M,United States,44.8M,2.2M,70.9K,Humor,9/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,100.5M,Unknown,6.9M,34.8K,0,Toys,9/27/2022
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Raditya Dika,Raditya Dika,Food & Drinks,9.9M,Indonesia,430.5K,14.8K,741,Other,9/13/2022
996,997,Ini Talk Show,IniTalkShow,Music & Dance,9.9M,Indonesia,25.2K,290,17,Humor,9/9/2022
997,998,SpriteDer SPD,SpriteDer SPD,Humor,9.9M,Thailand,4.4M,154.4K,3.6K,Other,9/16/2022
998,999,Classic Mr Bean,Classic Mr Bean,Other,9.9M,India,132.6K,1.1K,53,Other,9/30/2022
999,1000,Heera Gold,Heera Gold,Daily vlogs,9.9M,Pakistan,39.4K,1.6K,161,Other,9/16/2022

In [9]:
#dropping the number column
cleaned_Sept_df.drop(columns=['S.no'])

,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,T-Series,tseries,Music & Dance,224.4M,India,141.5K,4.6K,125,Other,9/1/2022
1,Cocomelon - Nursery Rhymes,checkgate,Education,142.5M,Unknown,12.5M,64.8K,0,Other,9/28/2022
2,PewDiePie,PewDiePie,Animation,111.6M,United States,1.9M,130.5K,7.4K,Other,9/5/2022
3,MrBeast,MrBeast6000,Video games,104.1M,United States,44.8M,2.2M,70.9K,Humor,9/27/2022
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,100.5M,Unknown,6.9M,34.8K,0,Toys,9/27/2022
...,...,...,...,...,...,...,...,...,...,...
995,Raditya Dika,Raditya Dika,Food & Drinks,9.9M,Indonesia,430.5K,14.8K,741,Other,9/13/2022
996,Ini Talk Show,IniTalkShow,Music & Dance,9.9M,Indonesia,25.2K,290,17,Humor,9/9/2022
997,SpriteDer SPD,SpriteDer SPD,Humor,9.9M,Thailand,4.4M,154.4K,3.6K,Other,9/16/2022
998,Classic Mr Bean,Classic Mr Bean,Other,9.9M,India,132.6K,1.1K,53,Other,9/30/2022
999,Heera Gold,Heera Gold,Daily vlogs,9.9M,Pakistan,39.4K,1.6K,161,Other,9/16/2022

In [ ]:
# to save file as csv to Analysis file
#cleaned_Sept_df.to_csv("../Analysis/Sept_Youtube.csv", encoding='utf8', index=False)