In [34]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [35]:
df = pd.read_csv('../Resources/AI_Influencer_cleaned.csv').head(200)
df.to_json("../Resources/output/AI_Influencer_200.json")
df

,Name,Age,Sex,Country of Origin,State or Province,Education Level,MBTI Personality,Lifestyle,Backstory
0,Andre Mcclain,23,male,USA,South Carolina,High School,INFP,Design/art,Andre Mcclain grew up in a small town in South...
1,Gregory Joseph,19,male,USA,Iowa,High School,ISFP,DIY & Life Hacks,Gregory Joseph was born and raised in a small ...
2,William Wall,23,male,USA,Oregon,High School,ISFP,Animals & Pets,William Wall was born and raised in the lush g...
3,Virginia Chapman,24,female,USA,Pennsylvania,Bachelor,ISFJ,Food & Drinks,Virginia Chapman was born and raised in a smal...
4,Deborah Potter,33,female,Canada,Quebec,Bachelor,ESTP,Fitness,"Deborah Potter was born and raised in Quebec, ..."
...,...,...,...,...,...,...,...,...,...
195,Angela Robbins,31,female,USA,Arizona,Bachelor,ESFJ,Health & Self Help,Angela Robbins was born and raised in the dese...
196,Michelle Cowan,21,female,USA,Texas,No High School,ESTP,Fitness,Michelle Cowan grew up in a small town in Texa...
197,Martha Lewis,22,female,USA,New Jersey,High School,ESFJ,Fitness,Martha Lewis was born and raised in a small to...
198,Paul Padilla,23,male,USA,California,Bachelor,ESTJ,News & Politics,Paul Padilla was born and raised in the sunny ...
199,Jonathan Carlson,32,male,USA,Kentucky,High School,ISTP,Movies,Jonathan Carlson was born and raised in the sm...

In [3]:
df2 = pd.read_csv('../Resources/Sept_clean_data.csv')
df2 = df2.rename(columns={'S.no':'s.no'})
df2

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,T-Series,tseries,Music & Dance,224.4M,India,141.5K,4.6K,125,Other,9/1/2022
1,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.9M,130.5K,7.4K,Other,9/5/2022
2,4,MrBeast,MrBeast6000,Video games,104.1M,United States,44.8M,2.2M,70.9K,Humor,9/27/2022
3,7,WWE,WWEFanNation,Video games,90.8M,United States,139.5K,4.8K,205,Other,9/10/2022
4,8,Zee Music Company,zeemusiccompany,Music & Dance,87.7M,India,103.7K,1.4K,54,Other,9/19/2022
...,...,...,...,...,...,...,...,...,...,...,...
822,996,Raditya Dika,Raditya Dika,Food & Drinks,9.9M,Indonesia,430.5K,14.8K,741,Other,9/13/2022
823,997,Ini Talk Show,IniTalkShow,Music & Dance,9.9M,Indonesia,25.2K,290,17,Humor,9/9/2022
824,998,SpriteDer SPD,SpriteDer SPD,Humor,9.9M,Thailand,4.4M,154.4K,3.6K,Other,9/16/2022
825,999,Classic Mr Bean,Classic Mr Bean,Other,9.9M,India,132.6K,1.1K,53,Other,9/30/2022
826,1000,Heera Gold,Heera Gold,Daily vlogs,9.9M,Pakistan,39.4K,1.6K,161,Other,9/16/2022

In [4]:
df3 = pd.read_csv('../Resources/Nov_clean_data.csv')
df3 = df3.rename(columns={'\nViews (Avg.)':'Average_view'})
df3

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,Other,11/28/2022
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,Unknown,9.5M,48.3K,0,Other,11/19/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,Other,11/7/2022
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor,11/27/2022
4,5,âœ¿ Kids Diana Show,âœ¿ Kids Diana Show,Animation,102.5M,Unknown,2.4M,15.7K,0,Toys,11/2/2022
...,...,...,...,...,...,...,...,...,...,...,...
993,996,RUOK,RUOK,Other,10.1M,Brazil,215.4K,25.2K,1.3K,Other,11/5/2022
994,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,Other,11/22/2022
995,998,SULE PRODUCTIONS,SULE PRODUCTIONS,Other,10.1M,Indonesia,218.3K,4.5K,306,Other,11/1/2022
996,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,Other,11/8/2022
997,1000,Dynamo Gaming,Dynamo Gaming,Other,10.1M,India,139.6K,15.4K,125,Other,11/15/2022

In [5]:
df4 = pd.read_csv('../Resources/Dec_clean_data.csv')
df4

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,Others,12/8/2022
1,2,setindia,SET India,Others,147.2M,India,0,0,0,Others,12/27/2022
2,4,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,12/19/2022
3,5,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,Others,12/28/2022
4,8,WWEFanNation,WWE,Video games,91.8M,United States,144.9K,5.1K,207,Others,12/2/2022
...,...,...,...,...,...,...,...,...,...,...,...
817,996,SULE PRODUCTIONS,SULE PRODUCTIONS,Others,10.1M,Indonesia,101.5K,2.5K,292,Others,12/2/2022
818,997,Dynamo Gaming,Dynamo Gaming,Others,10.1M,India,112.4K,17.8K,677,Others,12/20/2022
819,998,one_Iraqi_Diary,ÙŠÙˆÙ…ÙŠØ§Øª ÙˆØ§Ø­Ø¯ Ø¹Ø±Ø§Ù‚ÙŠ | One Iraqi Diary,Others,10.1M,Iraq,2.9M,245.5K,17.2K,Others,12/30/2022
820,999,ClassicMrBean,Classic Mr Bean,Others,10.1M,India,48.3K,624,23,Others,12/5/2022
821,1000,Anupam Movie Songs,Anupam Movie Songs,Music & Dance,10.1M,Bangladesh,41.2K,315,18,Others,12/23/2022

In [8]:
#Convert views and likes from string to value
def valueChange(x):
    if 'K' in x:
        return float(x.replace('K', '')) * 1000
    elif 'M' in x:
        return float(x.replace('M', '')) * 1000000
    elif 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    else:
        return float(x)

In [9]:
df_combine = pd.concat([df2,df3,df4], ignore_index=True)

In [10]:
df_combine['Average_view'] = df_combine['Average_view'].apply(valueChange)
df_combine['Average_likes'] = df_combine['Average_likes'].apply(valueChange)
df_combine = df_combine[~df_combine['Category'].isin(['Other', 'Others'])]
df_combine

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,T-Series,tseries,Music & Dance,224.4M,India,141500.0,4600.0,125,Other,9/1/2022
1,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1900000.0,130500.0,7.4K,Other,9/5/2022
2,4,MrBeast,MrBeast6000,Video games,104.1M,United States,44800000.0,2200000.0,70.9K,Humor,9/27/2022
3,7,WWE,WWEFanNation,Video games,90.8M,United States,139500.0,4800.0,205,Other,9/10/2022
4,8,Zee Music Company,zeemusiccompany,Music & Dance,87.7M,India,103700.0,1400.0,54,Other,9/19/2022
...,...,...,...,...,...,...,...,...,...,...,...
2633,985,Roshan Zindagi,Roshan Zindagi,Education,10.2M,India,21200.0,652.0,15,Others,12/19/2022
2638,990,Sabkuchhsikhojano,Sab Kuchh Sekho Jano,News & Politics,10.1M,India,11800.0,1200.0,72,Others,12/2/2022
2640,992,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98400.0,4000.0,884,Others,12/6/2022
2641,993,Santa Fe Klan Official,Santa Fe Klan Official,Music & Dance,10.1M,Mexico,0.0,0.0,0,Others,12/2/2022
2646,1000,Anupam Movie Songs,Anupam Movie Songs,Music & Dance,10.1M,Bangladesh,41200.0,315.0,18,Others,12/23/2022

In [11]:
df_combine.dtypes

s.no                  int64
Youtube_channel      object
Youtuber_name        object
Category             object
Subscribers          object
Country              object
Average_view        float64
Average_likes       float64
Average_comments     object
Sub-category         object
Date                 object
dtype: object

In [12]:
df_CAT = df_combine.groupby(['Category'])
grouped_df = df_CAT[['Average_view','Average_likes']].mean().reset_index()
grouped_df

                Category  Average_view  Average_likes
0                   ASMR  6.932667e+05   13550.000000
1         Animals & Pets  2.747350e+06  132950.000000
2              Animation  1.200785e+06   54062.879070
3       Autos & Vehicles  7.709000e+05   24200.000000
4                 Beauty  1.008600e+06   53650.000000
5       DIY & Life Hacks  1.255093e+06   42503.333333
6            Daily vlogs  1.380113e+06   89480.148936
7             Design/art  5.991800e+05   55420.000000
8              Education  7.646286e+05   28866.111111
9                Fashion  4.232714e+05   24957.142857
10               Fitness  3.995556e+05   17200.000000
11         Food & Drinks  8.010523e+05   44207.431818
12    Health & Self Help  2.175556e+06   53229.666667
13                 Humor  2.515819e+06  162302.702703
14                Movies  8.471444e+05   71452.956679
15         Music & Dance  1.403499e+06   54981.240506
16               Mystery  4.642000e+05   28200.000000
17       News & Politics  7.342681e+04    2194.456522
18  Science & Technology  1.274396e+06   65447.918367
19                Sports  2.602214e+05   20145.357143
20                  Toys  6.390786e+05   11651.250000
21                Travel  5.720500e+05   27900.000000
22           Video games  2.438242e+06  116215.760870

In [13]:
grouped_df['Average_view'] = grouped_df['Average_view']/grouped_df['Average_view'].max()
grouped_df['Average_likes'] = grouped_df['Average_likes']/grouped_df['Average_likes'].max()
grouped_df

                Category  Average_view  Average_likes
0                   ASMR      0.252340       0.083486
1         Animals & Pets      1.000000       0.819148
2              Animation      0.437070       0.333099
3       Autos & Vehicles      0.280598       0.149104
4                 Beauty      0.367117       0.330555
5       DIY & Life Hacks      0.456838       0.261877
6            Daily vlogs      0.502343       0.551316
7             Design/art      0.218094       0.341461
8              Education      0.278315       0.177854
9                Fashion      0.154065       0.153769
10               Fitness      0.145433       0.105975
11         Food & Drinks      0.291573       0.272376
12    Health & Self Help      0.791874       0.327965
13                 Humor      0.915726       1.000000
14                Movies      0.308350       0.440245
15         Music & Dance      0.510856       0.338757
16               Mystery      0.168963       0.173749
17       News & Politics      0.026726       0.013521
18  Science & Technology      0.463864       0.403246
19                Sports      0.094717       0.124122
20                  Toys      0.232616       0.071787
21                Travel      0.208219       0.171901
22           Video games      0.887489       0.716043

In [14]:
grouped_df = grouped_df[~grouped_df['Category'].isin(['Other', 'Others'])]
grouped_df

                Category  Average_view  Average_likes
0                   ASMR      0.252340       0.083486
1         Animals & Pets      1.000000       0.819148
2              Animation      0.437070       0.333099
3       Autos & Vehicles      0.280598       0.149104
4                 Beauty      0.367117       0.330555
5       DIY & Life Hacks      0.456838       0.261877
6            Daily vlogs      0.502343       0.551316
7             Design/art      0.218094       0.341461
8              Education      0.278315       0.177854
9                Fashion      0.154065       0.153769
10               Fitness      0.145433       0.105975
11         Food & Drinks      0.291573       0.272376
12    Health & Self Help      0.791874       0.327965
13                 Humor      0.915726       1.000000
14                Movies      0.308350       0.440245
15         Music & Dance      0.510856       0.338757
16               Mystery      0.168963       0.173749
17       News & Politics      0.026726       0.013521
18  Science & Technology      0.463864       0.403246
19                Sports      0.094717       0.124122
20                  Toys      0.232616       0.071787
21                Travel      0.208219       0.171901
22           Video games      0.887489       0.716043

In [15]:
grouped_df.to_csv("../Resources/output/Category_Summary.csv", index=False, header=True)
grouped_df.to_json("../Resources/output/Category_Summary.json")