In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
#importing November Youtube raw data
Nov_df = pd.read_csv('../Resources/NOV_YOUTUBE_INFLUENCER_RAW.csv')
Nov_df.head()

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\r\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,11/28/2022
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,11/19/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,11/7/2022
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor,11/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys,11/2/2022

In [3]:
#looking for duplicates
duplicate_values = Nov_df['Youtube channel'].duplicated()
print(duplicate_values)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Youtube channel, Length: 1000, dtype: bool

In [4]:
#droping duplicates
df = Nov_df.drop_duplicates(subset=['Youtube channel'], keep='first')
df

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\r\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,11/28/2022
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,11/19/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,11/7/2022
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor,11/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys,11/2/2022
...,...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K,NaN,11/5/2022
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,NaN,11/22/2022
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306,NaN,11/1/2022
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,NaN,11/8/2022
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125,NaN,11/15/2022

In [5]:
#updating column names
renamed_df = df.rename(columns={"Youtube channel":"Youtube_channel", "youtuber name":"Youtuber_name",
                                    "Followers":"Subscribers","\nViews (Avg.)":"Average_view",
                                    "Likes (Avg.)":"Average_likes","Comments (Avg.)":"Average_comments",
                                    "Category-2":"Sub-category"})
renamed_df.head()

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,\r\nViews (Avg.),Average_likes,Average_comments,Sub-category,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,11/28/2022
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,11/19/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,11/7/2022
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor,11/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys,11/2/2022

In [6]:
#replacing empty cells with "other" for category and "unknown" for country  
cleaned_Nov_df= renamed_df.fillna({"Country": 'Unknown',
                                       "Category": 'Other',
                                      "Sub-category":'Other'})
cleaned_Nov_df

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,\r\nViews (Avg.),Average_likes,Average_comments,Sub-category,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,Other,11/28/2022
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,Unknown,9.5M,48.3K,0,Other,11/19/2022
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,Other,11/7/2022
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor,11/27/2022
4,5,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,Unknown,2.4M,15.7K,0,Toys,11/2/2022
...,...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,Other,10.1M,Brazil,215.4K,25.2K,1.3K,Other,11/5/2022
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,Other,11/22/2022
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,Other,10.1M,Indonesia,218.3K,4.5K,306,Other,11/1/2022
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,Other,11/8/2022
999,1000,Dynamo Gaming,Dynamo Gaming,Other,10.1M,India,139.6K,15.4K,125,Other,11/15/2022

In [7]:
#dropping the number column
cleaned_Nov_df.drop(columns=['s.no'])

,Youtube_channel,Youtuber_name,Category,Subscribers,Country,\r\nViews (Avg.),Average_likes,Average_comments,Sub-category,Date
0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,Other,11/28/2022
1,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,Unknown,9.5M,48.3K,0,Other,11/19/2022
2,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,Other,11/7/2022
3,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor,11/27/2022
4,✿ Kids Diana Show,✿ Kids Diana Show,Animation,102.5M,Unknown,2.4M,15.7K,0,Toys,11/2/2022
...,...,...,...,...,...,...,...,...,...,...
995,RUOK,RUOK,Other,10.1M,Brazil,215.4K,25.2K,1.3K,Other,11/5/2022
996,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,Other,11/22/2022
997,SULE PRODUCTIONS,SULE PRODUCTIONS,Other,10.1M,Indonesia,218.3K,4.5K,306,Other,11/1/2022
998,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,Other,11/8/2022
999,Dynamo Gaming,Dynamo Gaming,Other,10.1M,India,139.6K,15.4K,125,Other,11/15/2022

In [9]:
# to save file as csv to Analysis file
#cleaned_Nov_df.to_csv("../Analysis/Nov_Youtube.csv", encoding='utf8', index=False)
cleaned_Nov_df.to_csv("../Resources/Nov_clean_data.csv", index=False, header=True)