In [3]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [4]:
#importing Ai Influencer json file
df = pd.read_json('../Resources/influencer_data.jsonl', lines=True)
df

,Name,Age,Sex,Country of Origin,State or Province,Education Level,MBTI Personality,Lifestyle,Backstory
0,Andre Mcclain,23,male,USA,South Carolina,High School,INFP,architecture,Andre Mcclain grew up in a small town in South...
1,Gregory Joseph,19,male,USA,Iowa,High School,ISFP,diy,Gregory Joseph was born and raised in a small ...
2,William Wall,23,male,USA,Oregon,High School,ISFP,pets,William Wall was born and raised in the lush g...
3,Virginia Chapman,24,female,USA,Pennsylvania,Bachelor,ISFJ,cooking,Virginia Chapman was born and raised in a smal...
4,Deborah Potter,33,female,Canada,Quebec,Bachelor,ESTP,dancing,"Deborah Potter was born and raised in Quebec, ..."
...,...,...,...,...,...,...,...,...,...
32885,Linda Mendoza,30,female,Canada,Ontario,Bachelor,INFJ,psychology,"Linda Mendoza was born and raised in Toronto, ..."
32886,Meredith Jenkins,20,female,USA,Ohio,No High School,ENFP,comedy,Meredith Jenkins was born and raised in a smal...
32887,Karen Garza,35,female,USA,Tennessee,Bachelor,ENTP,travel,Karen Garza was born and raised in a small tow...
32888,Sheila Harris,32,female,USA,New York,PhD,INFJ,gardening,Sheila Harris was born and raised in New York ...
32889,Kenneth Burton,25,male,Canada,Ontario,High School,ESFP,gardening,Kenneth Burton was born and raised in a small ...

In [5]:
#importing December Youtube data
df_csv = pd.read_csv('../Resources/DEC_YOUTUBE_INFLUENCER_RAW.csv')
df_csv

,s.no,Youtube channel,youtuber name,Category,Followers,Country,Views (Avg.),Likes (Avg.),Comments (Avg.),Category-2,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,12/8/2022
1,2,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,12/27/2022
2,3,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,12/23/2022
3,4,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,12/19/2022
4,5,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,12/28/2022
...,...,...,...,...,...,...,...,...,...,...,...
998,999,ClassicMrBean,Classic Mr Bean,NaN,10.1M,India,48.3K,624,23,NaN,12/5/2022
999,1000,Anupam Movie Songs,Anupam Movie Songs,Music & Dance,10.1M,Bangladesh,41.2K,315,18,NaN,12/23/2022
1000,970,AnandAudio,Anand Audio,NaN,10.3M,India,175.5K,2.2K,109,NaN,12/2/2022
1001,971,Wylsacom,Wylsacom,Science & Technology,10.3M,Russia,291.7K,13K,950,News & Politics,12/11/2022
1002,986,Eagle Home Entertainments,Eagle Home Entertainments,NaN,10.2M,India,724,3,0,NaN,12/17/2022

In [6]:
#looking for dupliates
duplicate_values = df_csv['Youtube channel'].duplicated()
print(duplicate_values)

0       False
1       False
2       False
3       False
4       False
        ...
998     False
999     False
1000     True
1001     True
1002     True
Name: Youtube channel, Length: 1003, dtype: bool

In [7]:
#dropping duplicates
Dec_df=df_csv.drop_duplicates(subset=['Youtube channel'], keep='first')
Dec_df

,s.no,Youtube channel,youtuber name,Category,Followers,Country,Views (Avg.),Likes (Avg.),Comments (Avg.),Category-2,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,12/8/2022
1,2,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,12/27/2022
2,3,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,12/23/2022
3,4,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,12/19/2022
4,5,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,12/28/2022
...,...,...,...,...,...,...,...,...,...,...,...
995,996,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,101.5K,2.5K,292,NaN,12/2/2022
996,997,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,112.4K,17.8K,677,NaN,12/20/2022
997,998,one_Iraqi_Diary,ÙŠÙˆÙ…ÙŠØ§Øª ÙˆØ§Ø­Ø¯ Ø¹Ø±Ø§Ù‚ÙŠ | One Iraqi Diary,NaN,10.1M,Iraq,2.9M,245.5K,17.2K,NaN,12/30/2022
998,999,ClassicMrBean,Classic Mr Bean,NaN,10.1M,India,48.3K,624,23,NaN,12/5/2022
999,1000,Anupam Movie Songs,Anupam Movie Songs,Music & Dance,10.1M,Bangladesh,41.2K,315,18,NaN,12/23/2022

In [8]:
#updating column names
renamed_df = Dec_df.rename(columns={"Youtube channel":"Youtube_channel", "youtuber name":"Youtuber_name",
                                    "Followers":"Subscribers","Views (Avg.)":"Average_view",
                                    "Likes (Avg.)":"Average_likes","Comments (Avg.)":"Average_comments",
                                    "Category-2":"Sub-category"})
renamed_df.head()

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,12/8/2022
1,2,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,12/27/2022
2,3,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,12/23/2022
3,4,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,12/19/2022
4,5,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,12/28/2022

In [9]:
#replacing blank values
cleaned_Dec = renamed_df.fillna({"Category": 'Others',
                                      "Country": 'Unknown',
                                      "Sub-category": 'Others'})
cleaned_Dec.head()

,s.no,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,Others,12/8/2022
1,2,setindia,SET India,Others,147.2M,India,0,0,0,Others,12/27/2022
2,3,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,Unknown,9.5M,48.3K,0,Others,12/23/2022
3,4,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,12/19/2022
4,5,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,Others,12/28/2022

In [10]:
#dropping the number column
cleaned_Dec.drop(columns=['s.no'])

,Youtube_channel,Youtuber_name,Category,Subscribers,Country,Average_view,Average_likes,Average_comments,Sub-category,Date
0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,Others,12/8/2022
1,setindia,SET India,Others,147.2M,India,0,0,0,Others,12/27/2022
2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,Unknown,9.5M,48.3K,0,Others,12/23/2022
3,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,12/19/2022
4,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,Others,12/28/2022
...,...,...,...,...,...,...,...,...,...,...
995,SULE PRODUCTIONS,SULE PRODUCTIONS,Others,10.1M,Indonesia,101.5K,2.5K,292,Others,12/2/2022
996,Dynamo Gaming,Dynamo Gaming,Others,10.1M,India,112.4K,17.8K,677,Others,12/20/2022
997,one_Iraqi_Diary,ÙŠÙˆÙ…ÙŠØ§Øª ÙˆØ§Ø­Ø¯ Ø¹Ø±Ø§Ù‚ÙŠ | One Iraqi Diary,Others,10.1M,Iraq,2.9M,245.5K,17.2K,Others,12/30/2022
998,ClassicMrBean,Classic Mr Bean,Others,10.1M,India,48.3K,624,23,Others,12/5/2022
999,Anupam Movie Songs,Anupam Movie Songs,Music & Dance,10.1M,Bangladesh,41.2K,315,18,Others,12/23/2022

In [11]:
# to save file as csv to Analysis file
#cleaned_Dec.to_csv("../Analysis/Dec_Youtube.csv", encoding='utf8', index=False)
#cleaned_Dec.to_csv("../Resources/Dec_clean_data.csv", index=False, header=True)

In [ ]:
cleaned_Dec